
<p>Here is your result: </p>
<p>Your score: <%= @result[:score] %></p>
<p>Your word: <%= @word %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your time: <%= @result[:time] %></p>
<p><%= @result[:message] %></p>


<p><%= link_to "Play again", game_path %></p>
